#!/bin/bash
# {{ template "scripts-library.sh" }}

{{ if ne .chezmoi.os "linux" }}
log_task "APT: Install basic tools"

if [ -f /etc/apt/sources.list.d/ubuntu.sources ]; then
    log_info "APT: Use USTC mirror for ubuntu 24.04+"
    sudo sed -i 's/http:/https:/g' /etc/apt/sources.list.d/ubuntu.sources
    sudo sed -i 's@//.*archive.ubuntu.com@//mirrors.ustc.edu.cn@g' /etc/apt/sources.list.d/ubuntu.sources
    sudo sed -i 's/security.ubuntu.com/mirrors.ustc.edu.cn/g' /etc/apt/sources.list.d/ubuntu.sources
fi
if [ -z "$(grep archive.ubuntu.com /etc/apt/sources.list)" ]; then
    log_info "APT: Use USTC mirror for ubuntu"
    sudo sed -i 's/http:/https:/g' /etc/apt/sources.list
    sudo sed -i 's@//.*archive.ubuntu.com@//mirrors.ustc.edu.cn@g' /etc/apt/sources.list
    sudo sed -i 's/security.ubuntu.com/mirrors.ustc.edu.cn/g' /etc/apt/sources.list
fi
sudo apt-get update -y
sudo apt-get install -y bash curl gpg procps file git unzip build-essential gcc

{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
# xcode-select -p 1>/dev/null, if return 2, then xcode-select is not installed
if ! xcode-select -p 1>/dev/null; then
    log_task "Xcode: Install command line tools"
    xcode-select --install
fi
{{ end -}}

if ! command -v brew &>/dev/null; then
    log_task "Brew: Install self"

    c git clone --depth=1 https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/install.git brew-install
    c env CI=1 /bin/bash brew-install/install.sh
    c rm -rf brew-install
fi