{{- if or (eq .size "middle") (eq .size "full") -}}
#!/bin/bash
# {{ template "scripts-library.sh" }}

ensure_path_entry "${HOME}/.local/bin/"
{{ if eq .chezmoi.os "linux" -}}
if ! command -v op &> /dev/null; then
    ARCH=$(dpkg --print-architecture);
    OP_VERSION="v$(curl https://app-updates.agilebits.com/check/1/0/CLI2/en/2.0.0/N -s | grep -Eo '[0-9]+\.[0-9]+\.[0-9]+')";
    log_task "1Password: install CLI. ARCH=$ARCH, VERSION=$OP_VERSION"
    c curl -sSfo op.zip https://cache.agilebits.com/dist/1P/op2/pkg/"$OP_VERSION"/op_linux_"$ARCH"_"$OP_VERSION".zip
    c unzip -od "${HOME}/.local/bin/" op.zip
    c rm op.zip

    if ! command -v op &> /dev/null; then
        log_error "1Password: CLI not installed"
    fi
fi
{{ end -}}

if [ -z "$(op account list | grep -v SHORTHAND)" ]; then
    SUBDOMAIN="my"
    log_manual_action "1Password: add account"
    read -rp "Enter your 1Password email(type 'q' to skip): " EMAIL
    if [ "$EMAIL" == "q" ]; then
        log_info "1Password: skip adding account"
    else
        op account add --address $SUBDOMAIN.1password.com --email "$EMAIL"
    fi
fi
{{- end }}