#!/bin/bash
# {{ template "scripts-library.sh" }}

if ! grep -q "$HOMEBREW_PREFIX"/bin/fish /etc/shells; then
    log_task "Fish: change default shell to fish"
    c echo "$HOMEBREW_PREFIX"/bin/fish | sudo tee -a /etc/shells >/dev/null
    c chsh -s "$HOMEBREW_PREFIX"/bin/fish
fi

log_task "Fish: setup plugins"
"$HOMEBREW_PREFIX"/bin/fish -c "fisher update"

if command -v bat &> /dev/null; then
    log_task "Bat: setup syntax highlighting"
    "$HOMEBREW_PREFIX"/bin/fish -c "bat cache --build"
fi

log_success "Fish: setup completed"

log_info " Fish: recommended to install Meslo Nerd Font"
log_info "     https://www.nerdfonts.com/font-downloads"
log_info " "
log_info " Change git user with 'git_config_user' function"
