#!/bin/bash
# {{ template "scripts-library.sh" }}

log_task "Brew: install packages"
eval "$("$HOMEBREW_PREFIX"/bin/brew shellenv)"

c brew bundle -v --file=- <<EOF
tap  "homebrew/bundle"
# tiny size packages
brew "ripgrep"
brew "bottom"
brew "fd"
brew "dust"
brew "fish"
brew "fisher"
brew "starship"
brew "git-credential-oauth"

{{- if or (eq .size "middle") (eq .size "full") }}
# middle size packages
brew "bat"
brew "eza"
brew "atuin"
brew "openssl"
brew "curl"
brew "git"
brew "chezmoi"
brew "commitizen"
brew "fzf"
brew "gh"
brew "just"
# for cheatsheet 
brew "navi"
# for code statistics 
brew "tokei"
# for YAML, JSON and XML process
brew "yq"
# simple http server
brew "miniserve"
{{- end }}

{{- if eq .size "full" }}
# full size packages
# for python
brew "uv"
brew "pipx"

# for nodejs
brew "nvm"

# for bun
brew "oven-sh/bun/bun"
{{- end }}
EOF

{{ if eq .chezmoi.os "darwin" -}}
log_task "Brew: install casks"
c brew bundle -v --file=- <<EOF

cask "visual-studio-code"
cask "iterm2"
cask "google-chrome"
cask "1password"
cask "1password-cli"

vscode "GitHub.copilot"

EOF
{{- end }}

log_success "Brew: packages installed"