.DS_Store
.direnv/
stow/rime/Library/Rime/build/
stow/rime/Library/Rime/rime_ice.userdb/
stow/rime/Library/Rime/rime_ice.userdb/*.log
result
result-*
local/Brewfile
local/env.sh
local/fish.local.fish
local/gitconfig.local
local/macos-defaults.sh
!local/*.example
build/*.bin
