#!/bin/env fish
if status is-interactive
    # Commands to run in interactive sessions can go here
end

{{ if eq .chezmoi.os "darwin" -}}
set UNAME_MACHINE (uname -m)
if test $UNAME_MACHINE = "arm64"
  set root_brew_path "/opt/homebrew"
else
  set root_brew_path "/usr/local/Homebrew"
end
{{ else if eq .chezmoi.os "linux" -}}
set root_brew_path "/home/linuxbrew/.linuxbrew"
{{ end -}}

# Add brew bin to PATH and brew fish completions
if test -d "$root_brew_path/bin"
    fish_add_path "$root_brew_path/bin"
    if test -d (brew --prefix)"/share/fish/completions"
        set -p fish_complete_path (brew --prefix)/share/fish/completions
    end

    if test -d (brew --prefix)"/share/fish/vendor_completions.d"
        set -p fish_complete_path (brew --prefix)/share/fish/vendor_completions.d
    end
end

# local bin
fish_add_path $HOME/.local/bin
# startship
[ -n "$(command -v starship)" ] && starship init fish | source
# autin
[ -n "$(command -v atuin)" ] && atuin init fish --disable-up-arrow | source

{{- if eq .size "full"}}
# cargo env
[ -n "$(command -v cargo)" ] && fish_add_path $HOME/.cargo/bin
{{- end}}

# proxy
pxy